/* General layout for the app */
.hero_app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
.navbar {
position: sticky;
top: 0;
z-index: 1000;
background-color: white;
border-bottom: 1px solid #ddd;
padding: 10px;
}

.content-layout {
display: flex;
flex: 1;
}

.table-of-contents {
width: 250px; /* Adjust as needed */
min-width: 200px;
padding: 20px;
border-right: 1px solid #ddd;
position: sticky;
top: 60px; /* Adjust for navbar height */
height: calc(100vh - 60px); /* Full height minus navbar height */
overflow-y: auto;
}

.main-content {
flex: 1;
padding: 20px;
overflow-y: auto;
background-color: #f9f9f9;
}
