.hero_analysis_page{
  font-family: 'Arial', sans-serif;
  color: #333;
  background: #f9f9f9;
}
.hero_analysis_header{
  height: 200px;
	width: 100%;
	background-image: url(../images/DiscernPicture.png);
  background-size: cover;
  align-items: center; 
  justify-content: center; 
  display: flex;
}
  
  
  .hero_analysis_header h1{
    font-size: 60px;
    font-weight: bold;
    margin-left: 25%;
    color: white;
  }
  

.three_rc_analysis p{
    margin-left: 2%;
    text-align: left;
}


.three_rc_analysis h1 { 
    margin: 10px;
    font-size: 36px;
    width: fit-content;
    margin-left: 40%;
}
.three_rc_analysis ul{
    margin-left: 4%;
    text-align: center; 
    list-style-type: none;
  
    
}
.three_rc_analysis li{
  margin: 20px;
}

.three_rc_analysis li::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: orangered;
}

.solutions_input{
  margin: 2%;
  border-bottom: 2px solid grey;

}

.input_wrapper{
  display: flex;
}

.input_wrapper input{
  margin: 2%;
  height:40px;
  width: 45%;
}

.input_wrapper textarea{
  height: 40px;
  margin: 2%;
  width: 45%;
}

.solutions_field{
  height: 100px;
}

.unassigned_Solutions{
  margin: 2%;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 4px;
  align-items: start;
  justify-content: space-between;
  
  border: 1px solid black;
}

.solutions_title{
  margin: 2%;
  text-align: center;
}

.solution_explanation{
  display: flex;
  justify-content: space-between;
}

.solution_explanation p{
  width: 40%;
  margin: 2%;
  overflow-wrap: break-word;
}

.solution_categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2%;
  text-align: center;
}

.solution_categories h3{
  color: var(--color-primary);
}

.explanation_solution_title{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.textarea {
  width: 60%;
  height: 50px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

