.oTitle{
    color: white;
    padding: 50px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

#oDiscernTopImage{
	height: 200px;
	width: 100%;
	background-image: url(../images/hexagonBackground.jpg);
    background-size: cover;
    background-position-y: -415px;
    background-size: 115%;
}

/*Area for scripture quote*/
.oQuoteText{
    color: white;
    padding: 15px;
    border-left: 6px;
    height: fit-content;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary);
    border-radius: 25px;
}

/*CSS for the 4D cycle image and the box that appears over it,
which shows the D phase they're in and gives a brief description of it*/
.oDiscernBox{
    width: 200px;
    border: 3px solid black;
    padding: 5px;
    background-color: white;
    position: absolute;
    bottom: -75px;
    right: -100px;
}

.oDiscernBox h3 {
    text-align: center;
}

#o4Ddiscern{
    height: 380px;
    width: 650px;
    background-image: url(../images/Discern4DCycle.png);
    background-size: cover;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.highlight4D {
    border: var(--color-primary) solid 3px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 20px;
    background-color: white;
    position: relative;
}

/*Discern Session*/
iframe {
    display: block;
    margin: auto;
}

.oCenteredText{
    text-align: center;
    padding: 5px;
}