.obody1 {   
    background-image: linear-gradient(#e6f2fc, white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.obody2{
    background-image: linear-gradient(white, #e6f2fc)
}

.demonstrateBody{
    background-color: white;
}

.oh1{
    color: #ea542c;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

.oh2{
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

.oTitle{
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

.op1{
    text-align: left;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
}

.op2{
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 15px;
}

.oQuoteText{
    color: white;
    padding: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border-left: 6px;
    height: 50px;
    text-align: left;
}

#oConclusionTopImage{
	height: 200px;
	width: 100%;
	background-image: url(../images/DiscernPicture.png);
    background-size: cover;
}

.oQuoteBox{
    background-color: #ea542c;
    width: 50%;
    height: 100px;
    border: #ea542c;
    margin: auto; 
    border-radius: 25px;
    resize: vertical;
    overflow: auto;
}

#o4D{
    height: 400px;
    width: 650px;
    background-image: url(../images/4DCycle.png);
    background-size: cover;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}