.oh1{
    color: #ea542c;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

.oh2{
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

.oTitle{
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

.otextarea {
    width: 50%;
    height: 100px;
}

.op1{
    text-align: left;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
}

.op2{
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 15px;
}

.oQuoteText{
    color: white;
    padding: 15px;
    font-size: 15px;
    border-left: 6px;
    height: fit-content;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary);
    border-radius: 25px;
}

#oConclusionTopImage{
	height: 200px;
	width: 100%;
	background-image: url(../images/DiscernPicture.png);
    background-size: cover;
}

#o4D{
    height: 400px;
    width: 650px;
    background-image: url(../images/4DCycle.png);
    background-size: cover;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border: var(--color-primary) solid 3px;
    border-radius: 25px;
}