/*----------------------
--------- TITLE --------
----------------------*/

.oTitle{
    color: white;
    padding: 50px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.oTitle sc{
    color:var(--color-primary);
}

#oTopImage{
    height: 200px;
    width: 100%;
	background-image: url(../images/network.jpeg);
    background-size: cover;
}

/*------------------------
--------- GENERAL --------
------------------------*/

.textbody{
    margin: 10px 50px ;
}

.divbox{
    margin: auto;
    height: 100px;
    width: 200px;
    background-color: #ea542c;
    color:white;
    text-align: center;
    resize: none;
    display: flex;
}

.sol-text{
    color: white;
    background-color: #ea542c;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.userTextInputRelationship{
    width : 40%;
    height: 50px;
    margin-left: 30%;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    border:none;
    font-size: large;
    resize: none;
}

.userTextInputRelationship::placeholder {
    color: white;
}

/*----------------------
--------- HEXES --------
----------------------*/

.hex-body, .hex-first {
    float: left;
    width: 220px;
    height: 312px;
    margin-top: 312px;
    background-color: var(--color-primary);
    position: relative;

}

.hex-body::after, .hex-first::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -90px;
    border-top: 156px solid transparent;
    border-bottom: 156px solid transparent;
    border-left: 90px solid var(--color-primary);
}

.hex-body::before, .hex-first::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -90px;
    border-top: 156px solid transparent;
    border-bottom: 156px solid transparent;
    border-right: 90px solid var(--color-primary);
}

.hex-first {
    margin-top: 0px;
}

.hex-text{
    color:white;
    text-align: center;
    height: 272px;
    margin: 20px auto;
}

.userTextInput{
    box-sizing: border-box;
    margin: 5px 0px;
    height: 230px;
    width: 95%;
    border:none;
}

.hexes-container{
    margin:auto;
    display: flex;
    justify-content: center;
    width: 90%;
}

.hexes-column{
    width:30%;
}

/*-------------
---- LINES ----
-------------*/
.lineDownShort {
    width: 4px;
    height: 50px;
    margin: auto;
    position: relative;
    background-color: var(--color-primary);
}

.lineDownLeft {
    width: 4px;
    height: 312px;
    margin: auto;
    position: relative;
    background-color: var(--color-primary);
}

.lineDownLeft::before {
    content: '';
    position: absolute;
    height: 4px;
    top: 154px;
    left: -200px;
    border-left: 200px solid var(--color-primary);
}

.lineDownRight {
    width: 4px;
    height: 312px;
    margin: auto;
    position: relative;
    background-color: var(--color-primary);
}

.lineDownRight::after {
    content: '';
    position: absolute;
    height: 4px;
    top: 154px;
    right: -200px;
    border-right: 200px solid var(--color-primary);
}

.lineAcross {
    width: 5%;
    height: 4px;
    margin: auto;
    background-color: var(--color-primary);
}