.oTitle{
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

#oDemonstrateTopImage{
	height: 200px;
	width: 100%;
	background-image: url(../images/hexagonBackground.jpg);
    background-size: cover;
    background-position-y: -415px;
    background-size: 115%;
}

.oFormula{
    color: #ea542c;
    padding: auto;
    font-size: 30px;
    margin: auto;
    font-family: "cursive";
    text-align: center;
}

/*Area for the FaithTech Playbook quote*/
.oQuoteText{
    color: white;
    padding: 15px;
    border-left: 6px;
    height: fit-content;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary);
    border-radius: 25px;
}

/*CSS for the 4D cycle image and the box that appears over it,
which shows the D phase they're in and gives a brief description of it*/
.oDemonstrateBox{
    width: 200px;
    border: 3px solid black;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: -120px;
    left: -110px;
}

.oDemonstrateBox h3 {
    text-align: center;
}

#o4Ddemonstrate{
    height: 400px;
    width: 650px;
    background-image: url(../images/Demonstrate4DCycle.png);
    background-size: cover;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.highlight4D {
    border: var(--color-primary) solid 3px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 140px;
    background-color: white;
    position: relative;
}

/*Demonstrate Session*/
iframe {
    display: block;
    margin: auto;
}

.oCenteredText{
    text-align: center;
    padding: 5px;
}