.hero_co_creatioin_container{
    text-align: center;
    padding-top: 12px;
    margin-top: 4%;
}

.hero_co_creatoin_header{
    border: 2px solid black;
    color: white;
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
  }
  
  
  .hero_co_creatoin_header h1{
    font-size: 60px;
    font-weight: bold;
    margin-left: 25%;
    color: white;
  }
  
  .image_placeholder {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: black;
    border-radius: 80px;
  
  }


.three_cs{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.solutions h1{
    padding: 2px;
}
.solutions p{
    border: 2px solid orangered;
    width: fit-content;
    height: max-content;
}

.new_cycle{
    background-color: orangered;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
}
.Receive{
    
}
.timer{
    border: 5px solid orangered;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    align-content: center;
    margin-left: 40%;
}
.time_testing{
    color:black;
}

.timer_controls{
    display: flex;
    justify-content: space-between;
    margin-left: 32%;
    margin-right: 35%;
    padding: 20px;

}

.timer_controls button{
    background-color: orangered;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;

}

.render_table button{
    background-color: orangered;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

