.obody1 {   
    background-image: linear-gradient(#e6f2fc, white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.obody2{
    background-image: linear-gradient(white, #e6f2fc)
}

.developBody{
    background-color: white;
}

.o3Dh2{
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

.oTitle{
    color: white;
    padding: 50px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.o3Dp{
    color: black;
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
    font-size: 15px;
}

.o3Dp1{
    text-align: left;
    color: black;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.o3Dp2{
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 15px;
}

.oQuoteText{
    color: white;
    padding: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border-left: 6px;
    height: 50px;
    text-align: left;
}

#oDevelopTopImage{
	height: 200px;
	width: 100%;
	background-image: url(../images/DiscernPicture.png);
    background-size: cover;
}

.oQuoteBox{
    background-color: #ea542c;
    width: 50%;
    height: 120px;
    border: #ea542c;
    margin: auto; 
    border-radius: 25px;
    resize: vertical;
    overflow: auto;
}

.oDevelopBox{
    width: 200px;
    border: 3px solid black;
    margin-top: 15px;
    margin-left: 10%;
    padding: 5px;
}

#o4Ddevelop{
    height: 400px;
    width: 650px;
    background-image: url(../images/Develop4DCycle.png);
    background-size: cover;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

iframe {
    display: block;
    margin: auto;
}