.background_image {
    width: 100%;
    height: 200px;
    background-image: url("../images/Network 6.jpg");
    background-size: cover;
    background-position-y: -240px;
    text-align: center;
    line-height: 200px;
}

.title {
    font-size: 50px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.explanation_text { 
    color: black;
    width: 50%;
    margin-left: 25%;
    font-size: large;
    text-align: left;
}

.status_group_text {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 375px);
    align-items: start;
    justify-content:space-around;
    color: black;
    font-size: large;
}

.add_task {
    background-color: white;
    border: 1px solid black;
    padding: 8px 16px 8px 16px;
    color: var(--color-primary);
    margin: 16px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    height: 70px;
}

.add_task:hover {
    background-color: whitesmoke;
}

.page_gap {
    min-height: 100vh;
}