/* Navbar styles */
:root {
  --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero_navbar {
    
    position: sticky; 
    top: 0; 
    background-color: #ffffff; 
    color: white; 
    display: flex; 
    align-items: center;  
    padding: 10px 20px; 
    z-index: 1000;
    border-bottom: 2px solid #ccc; 
    font-family: var(--font-main);
  }
  
  /* Logo section */
  .logo {
    margin-right: auto; 
  }
  
  .logo a {
    text-decoration: none; 
    color: rgb(15, 14, 14);  
    font-size: 24px; 
    font-weight: bold;  
  }
  
  /* Links section */
  .hero_navbar ul {
    list-style-type: none;  
    margin: 0; 
    padding: 0;  
    display: flex; 
  }
  
  .hero_navbar ul li {
    margin-left: 20px;  
  }
  
  .hero_navbar ul li a {
    text-decoration: none;  
    color: rgb(0, 0, 0);  
    font-size: 18px;
  }
  
  .hero_navbar ul li a:hover {
    color: #ddd; 
  }
  