.kevin_ticket_component_ticket {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid #ea542c;
}


.kevin_ticket_component_ticket:not(:last-of-type) {
    margin-bottom: 4rem;
}

.kevin_ticket_component_title_input {
    color: white;
    width: 60%;
    background-color: #ea542c;
    border: none;
    text-align: center;
    font-size: 24px;
    
}

.kevin_ticket_component_title_input::placeholder {
    color: white;
    opacity: 1;
}

.kevin_ticket_component_textarea {
    box-sizing: border-box;
    width: 100%;
}

.kevin_ticket_component_ticket_input_align_left {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    box-sizing: border-box;
    width: 40%;
    float: left;
}

.kevin_ticket_component_ticket_input_align_right {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    box-sizing: border-box;
    width: 40%;
    float: right;
}

.kevin_ticket_component_title_content {
    padding: 10px;
    background-color: #ea542c;
    text-align: center;
}

.kevin_ticket_component_body_content {
    padding: 10px;
}

.kevin_ticket_component {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
}

.kevin_checkbox {
    height: 20px;
    width: 20px;
}

.kevin_button {
    background-color: white;
    border: 1px solid black;
    padding: 8px 0px 8px 0px;
    color: #ea542c;
    margin: 16px;
    font-size: large;
    text-align: left;
    
}

.kevin_button:hover {
    background-color: whitesmoke;
}

.kevin_text { 
    color: black;
    width: 50%;
    margin-left: 25%;
    font-size: large;
    text-align: center;
    
}


.kevin_text_status { 
    color: black;
    font-size: large;
    text-align: center;
    
    
}
