/*-----------------------
----DND_GROUP_COLUMNS----
-----------------------*/

.dnd_area {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 375px);
    align-items: start;
    justify-content:space-around;
}

.dnd_status_group {
    padding: .5rem;
    border-radius: 5px;
}

/*-------------
----TICKETS----
-------------*/

.ticket {
    background-color: white;
    border: 3px solid var(--color-primary);
}

/*allows a space between tickets in the same column*/
.ticket:not(:last-of-type) {
    margin-bottom: 4rem;
}

.ticket_header {
    padding: 10px;
    background-color: var(--color-primary);
    text-align: center;
}

.ticket_title {
    color: white;
    width: 60%;
    background-color: var(--color-primary);
    border: none;
    text-align: center;
    font-size: 24px;
    box-shadow: none;
}

.ticket_title::placeholder {
    color: white;
}

.ticket_remove_button{
    float: right;
    margin: 0px, 25px, 0px, 25px;
    padding: 8px 12px;
    font-size: 0.9em;
    background-color: #a71d2a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ticket_remove_button:active {
    background-color: var(--color-primary);
}

.ticket_body {
    padding: 10px;
}

.ticket_textarea {
    margin: 5px 5px 5px 0px;
    box-sizing: border-box;
    width: 100%;
}

.flex_tickets_small_textareas {
    display: flex;
    justify-content: space-between;   
}

.tickets_small_textareas {
    box-sizing: border-box;
    width: 45%;
}

.ticket_label_text_left_side { 
    display: inline-block;
    margin: 5px 0px 5px 0px;
    width: 55%;
    font-size: small;
    color: black;
    text-align: left;
}

.ticket_label_text_right_side { 
    display: inline-block;
    margin: 5px 0px 5px 0px;
    font-size: small;
    color: black;
    text-align: left;
}