.kevin_ticket_component_ticket {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid var(--color-primary);
}

.kevin_ticket_component_ticket:not(:last-of-type) {
    margin-bottom: 4rem;
}

.kevin_ticket_component_title_input {
    color: white;
    width: 60%;
    background-color: var(--color-primary);
    border: none;
    text-align: center;
    font-size: 24px;
    box-shadow: none;
}

.kevin_ticket_component_title_input::placeholder {
    color: white;
    opacity: 1;
}

.kevin_ticket_component_textarea {
    margin: 5px 5px 5px 0px;
    box-sizing: border-box;
    width: 100%;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    
}

.dual_textareas {
    display: block;
    box-sizing: border-box;
    width: 45%;
}

.kevin_ticket_component_title_content {
    padding: 10px;
    background-color: var(--color-primary);
    text-align: center;
}

.kevin_ticket_component_body_content {
    padding: 10px;
}

.kevin_ticket_component {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
}

.kevin_button {
    background-color: white;
    border: 1px solid black;
    padding: 8px 16px 8px 16px;
    color: var(--color-primary);
    margin: 16px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    height: 70px;
    
}

.kevin_button:hover {
    background-color: whitesmoke;
}

.kevin_text { 
    color: black;
    width: 75%;
    margin: 0%;
    font-size: large;
    text-align: left;
    
}


.kevin_text_status { 
    color: black;
    font-size: large;

}

.small_Text { 
    display: inline-block;
    margin: 5px 0px 5px 0px;
    width: 55%;
    font-size: small;
    color: black;
    text-align: left;
}

.small_Text2 { 
    display: inline-block;
    margin: 5px 0px 5px 0px;
    font-size: small;
    color: black;
    text-align: left;
}

.remove_button{
    float: right;
    margin: 0px, 25px, 0px, 25px;
    padding: 8px 12px;
    font-size: 0.9em;
    background-color: #a71d2a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


.remove_button:active {
    background-color: var(--color-primary);
}