
/*################
##### GENERAL ####
################*/

textarea.projects {
    width: 60%;
    margin-left:20%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .oTitle{
    color: white;
    padding: 50px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.oTitle sc{
    color:var(--color-primary);
}

#oTopImage{
	height: 200px;
	width: 100%;
	background-image: url(../images/network.jpeg);
    background-size: cover;
}

/*################
###### CARDS #####
################*/

.iDeck{	
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    color: black;
}

.iCard{
    --var-height: 450px;
    width: 300px;
    height: var(--var-height);
	background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    --image-height: calc(var(--var-height)*.15);
    --button-height: calc(var(--var-height)*.2);
    border-radius: 5px;
    border-color: #000;
    border-style: solid;
    margin: 10px;
}

.iCardImg{
    height: var(--image-height);
    background-image: linear-gradient(#000,#888);
    border-radius: 3px 3px 0px 0px;
}

.iCardCover{
    height: calc(var(--var-height) - var(--image-height));
	color: white;
	background: var(--color-primary);
    font-weight: bold;
	transition: 1s;
	cursor: pointer;
    margin-top: auto;
    border-radius: 0px 0px 3px 3px;
    z-index: 2;
    font-size: x-large;
    border-style: none;
}

.iCardContent{
    z-index: 1;
    margin-top: auto;
    transition: 1s;
    position: absolute;
    top: calc(var(--image-height) + 10px);
    height: calc(var(--var-height) - var(--image-height) - var(--button-height));
    overflow:hidden;
    font-size: 14px;;
}

/*#####################
### COMMUNITY NEEDS ###
#####################*/

.cDeck{	
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    color: black;
}

.cCard{	
    --var-height: 450px;
    width: 300px;
    height: var(--var-height);
	background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    --image-height: calc(var(--var-height)*.2);
    --button-height: calc(var(--var-height)*.2);
    border-radius: 5px;
    border-color: #000;
    border-style: solid;
    margin: 10px;
}

.cCardTitle{
    box-sizing: border-box;
    border-style: none;
    border-bottom-style: solid;
    border-radius: 0px;
    border-color:#000;
    width: 100%;
    margin-left: 0px;
    height: 10%;

}

.cCardTitle:focus{
    outline:none;
    border-style: none;
    border-bottom-style: solid;
    border-radius: 0px;
    border-color:#000;
    width: 100%;
    margin-left: 0px;
    height: 10%;

}

.cCardDescription{
    box-sizing: border-box;
    border-style:none;
    width: 100%;
    margin-left: 0px;
    height: 90%;
}

.cCardDescription:focus{
    outline:none;
    border-style:none;
    width: 100%;
    margin-left: 0px;
    height: 90%;
}

.section {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
  }